<div>
    <h2>You searched for {{user.name}}</h2>
    <div ng-class="{'alert alert-danger': error.length > 0 }">{{ error }}</div>
    Order By:
    <select ng-model="repoSortOrder">
        <option value="+language">Language</option>
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
    </select>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Stars</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                <td><a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
                <td>{{repo.stargazers_count | number}}</td>
                <td>{{repo.language}}</td>
            </tr>
        </tbody>
    </table>

</div>
<a href="#/main">Back to Search</a>